# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Git files
.git
.gitignore

# Logs
*.log

# Build folders
build/
dist/
*.egg-info/

# IDE/editor folders
.vscode/
.idea/
artifact/
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db