# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Artifacts
artifact/